body{
    margin: 0px;
    padding: 0%;
}
.top{
    text-align: center;
    background-color: #FFB100;
    height: 150px;
    broder:0px
}

.fond{
    background-color: #FFF7CD;
    height: 800px;
}