h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2980b9; /* Bleu */
    top: 20px;
    padding: 10px;
    text-decoration: none;
}
div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #27ae60; /* Vert */
    top: 60px;
    padding: 10px;
    text-decoration: none;
}
a{
   
    text-decoration: none;
}

a[id]:hover{
    background-color: yellow;
}
a[id]:active{
    font-size: 125%;
}
a[id]:visited{
    color: violet;
}

li:first-child {
    font-weight: bold;
}

li:last-of-type {
    font-weight: bold;
}