head{
    margin: 0px;
    padding: 0%;
}
.top{
    display: flex;           /* Met les images sur la même ligne */
    justify-content: center; /* Centre horizontalement toutes les images */
    align-items: center;     /* Centre verticalement les images */
    background-color: #FFB100;
    height: 150px;
    gap: 85px;               /* Espace entre les images */
    border: 0;
    
}

.fond{
    background-color: #FFF7CD;
    height: 800px;
}
head,img#fleche, img#a, img#b, img#logo, img#c, img#d{
    width: 90px;             /* Largeur uniforme pour toutes les images */
    height: auto; 
}
img#logo{
    width: 250px; /* largeur maximale */
    height: auto;     /* garde les proportions */
    display: block;
}
img#fleche{
    width: 100px; /* largeur maximale */
    height: auto;     /* garde les proportions */
    display: block;
}

.fond{
    width: 100%;
    display: flex;           /* active Flexbox */
    justify-content: center; /* centre horizontalement */
    align-items: self-start;     /* centre verticalement */
}
.logo {
    width: 800px; /* largeur maximale */
    height: auto;     /* garde les proportions */
    display: block;   /* parfois utile pour supprimer les petits espaces */
}   

.top img#a:hover,img#b:hover , img#c:hover, img#d:hover {
    cursor: pointer;
    
    opacity: 0.5;                     /* opacité normale */
    transition: opacity 0.3s ease;
}
#slogan {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: right;
    
}
.logo-slogan {
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 0px; /* Espace entre le logo et le slogan */
}