head{
    margin: 0px;
    padding: 0%;
}
.top{
    display: flex;           /* Met les images sur la même ligne */
    justify-content: center; /* Centre horizontalement toutes les images */
    align-items: center;     /* Centre verticalement les images */
    background-color: #FFB100;
    height: 150px;
    gap: 85px;               /* Espace entre les images */
    border: 0;
    
}

.imageretour{
    height: 100px;
    width: 100px;
    height: auto; 
    display: block;
} 

.alveole:after{
    background-image: "\Hon-e-main\SAE Hön-e\image\bouton acceuil.png";
    background-repeat: no-repeat;
  	background-position: right;
  	background-size: 100px;
}
.alveole:hover{
    cursor: pointer;
    opacity: 0.5; /* opacité normale */
    transition: opacity 0.3s ease;
}

.logoc{
    height: 200px;
}
.fond{
    background-color: #FFF7CD;
    height: auto;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: self-start; 
}

.logo {
    
    align-items: center;
    width: 800px; /* largeur maximale */
    height: auto;     /* garde les proportions */
    display: block;   /* parfois utile pour supprimer les petits espaces */
}   


#slogan {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: right;
    
}
.logo-slogan {
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 0px; /* Espace entre le logo et le slogan */
}

.bestsellers {
     align-items: left;
     font-family: 'Arial', sans-serif;
     font-size: 24px;
     color: #333333;
}

.bestproduit {
    display: flex;           /* Met les images sur la même ligne */
    justify-content: center; /* Centre horizontalement toutes les images */
    margin: 20px;
    align-items: center;     /* Centre verticalement les images */
    gap: 85px;               /* Espace entre les images */
    border: 0;
    
}

.bestproduit {
    width: 320px;
    
    background-color: #e5ca8f;
    justify-content: center;
     align-items: center;
    border: #333333 20px;
    font-family: 'Arial', sans-serif;
    
}


.a {
    text-decoration: underline;
}

.tisane {
    display: flex;
    margin: auto;
}
.tisanebest :hover{
    cursor: pointer;

}