body {
    margin: 0px;
    padding: 0%;
}

/*Ensemble des elements de la barre de navigation */
.barre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFB100;
    height: 150px;
    width: 100%;
}

.goutte {
    position: absolute;
    top: -20px;
    width: 1400px;
}

.imageretour {
    height: 100px;
    width: 100px;
    height: auto;
    display: block;
}

.alveole,
.alveoleproduit {
    margin-top: 30px;
}

.alveoleproduit {
    opacity: 0.5;
}

.alveole:hover,
.alveoleproduit:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
}

.logoc {
    height: 200px;
    margin-top: 30px;
}

/*Menu deroulant */
.mainmenubtn {
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: #d8b467;
    min-width: 170px;
}

.dropdown-child a {
    font-family: 'Arial', sans-serif;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    top: 230px;
    display: block;
    margin-left: 20px;
}

/*Contenu de la page*/
.fond {
    background-color: #FFF7CD;
    height: 1800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: static;
    margin-top: 100px;
    width: 700px;
    height: auto;
}

.slogan {
    position: static;
    top: 400px;
    margin-bottom: 40px;
    width: 1100px;
}

/*titre*/
.sectiontitre {
    text-indent: 0px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    color: #333333;
    margin: 0px;
    margin-top: 10px;
}

/*gestion de chaque ligne de produits*/
.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*Ensemble des produits*/
.tousproduit {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    gap: 30px;
    border: 0;
}


/*block de chaque produits*/
.biscuitbest,
.elixirbest,
.masquebest,
.sirop,
.tisane,
.Vertus,
.comp,
.Salon,
.miel,
.Conservation {
    padding: 10px;
    width: 250px;
    height: 350px;
    background-color: white;
    border: #333333 20px;
    font-family: 'Arial', sans-serif;
}


/*textes des produits*/
.a {
    text-decoration: underline;
}

.a,
.b {
    margin: 5px;
    text-align: left;
}

#text {
    margin-top: 55px;
}

/*images des produits*/
.siropimage {
    width: 70%;
}

.elixir {
    width: 85%;
}

.masque {
    width: 68%;
}

.biscuit {
    width: 75%;
}

.tisaneimage {
    width: 70%;
}

.compimage {
    width: 70%;
}

.mielimage {
    width: 90%;
}

.siropimage,
.compimage,
.masque,
.tisaneimage,
.biscuit,
.mielimage,
.elixir {
    display: flex;
    margin: auto;
}

.sirop:hover,
.compimage:hover,
.mielimage:hover,
.masquebest:hover,
.elixirbest:hover,
.biscuitbest:hover,
.tisane:hover {
    cursor: pointer;
}


/*Banniere du bas*/
.bannierebas:hover {
    cursor: pointer;
}


.bas {
    position: relative;
    width: 100%;
}

.bannierebas {
    max-width: 230%;
    height: auto;
    display: block;
}

.div2bas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div1bas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.textbas {
    font-family: 'Arial', sans-serif;
    font-size: 2.0em;
    line-height: 1.5em;
    text-decoration: none;
    color: black;
}

.imagebas {
    width: 70%;
}