body {
    margin: 0px;
    padding: 0%;
}
.barre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index : 1000;
}

.top {
    display: flex;
    justify-content: center;
    /* Centre horizontalement toutes les images */
    align-items: center;
    /* Centre verticalement les images */
    background-color: #FFB100 ;
    height: 150px;
    width: 100%;
    justify-content: space-around;
    /* Espace entre les images */ 
    
}

.goutte {
    position: absolute;
    /*chevauchement*/
    top: -20px;
    width: 1400px;

}

.imageretour {
    height: 100px;
    width: 100px;
    height: auto;
    display: block;
}

.alveole, .alveolepart {
    margin-top: 30px;
}
.alveolepart{ /*new*/
    opacity: 0.5;
    /* opacité  */
    
}

.alveole:hover, .alveolepart:hover {
    cursor: pointer;
    opacity: 0.5;
    /* opacité  */
    transition: 0.3s ease;
}

.logoc {
    height: 200px;
    margin-top: 30px;
}

.fond {
    background-color: #FFF7CD;
    height: 1700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.naturelleclass {
    position: relative;
    top : 20px;    
}

.naturalifeclass {
    position: relative;
    top : 100px;
}
.naturebioclass {
    position: relative;
    top : 150px;
}

h1{
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    text-align: left;
    margin-top: 160px;
    margin-bottom:5px ;
    margin-left: 75px ;
    font-size: 4rem;
}

h2{
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    text-align: left;
    margin-top: 35px;
    margin-bottom:15px ;
    margin-left: 75px;
    font-size: 2rem;
}

h3{ 
    font-family:'Arial', sans-serif;
    text-align: left;
   
    margin-top: 10px;
    margin-bottom:10px ;
    margin-left: 75px;
}



.naturelle {
    
    position: static;
    z-index: 1;
    margin-top: -200px;
    margin-left: 900px;
    width: 12%;
}

.naturalife {
   
  position: static;
    z-index: 1;
    
    max-width: 300px;   
    margin-left: 1000px; 
    margin-right: 5vw; 
    margin-top: -220px;
    width: 20%;
}

.naturebio {
    
  position: static;
    z-index: 1;
    max-width: 300px; 
    margin-top: -200px;
    margin-left: 900px;
    width: 20%;
}


.logo {
    width: 800px;
    /* largeur maximale */
    height: auto;
    /* garde les proportions */
}

.slogan {
    margin-bottom: 40px;
    width: 1400px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectiontitre {
    text-indent: 25px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #333333;
    margin: 0px;
    margin-top: 10px;
}



.bas {
    position: relative;
    width: 100%;
}

.bannierebas {
    max-width: 230%;   
    height: auto;
    display: block; 
}


.div1bas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.div2bas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.textbas {
    font-family: 'Arial', sans-serif;
    font-size: 2.0em;
    line-height: 1.5em;
    text-decoration: none;
    color: black;
}

.imagebas{
    width: 80%;
}