/* headers */
body {
    margin: 0px;
    padding: 0%;
}

/*Ensemble des elements de la barre de navigation */
.barre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFB100;
    height: 150px;
    width: 100%;
}

.goutte {
    position: absolute;
    top: -20px;
    width: 1400px;
}

.imageretour {
    height: 100px;
    width: 100px;
    height: auto;
    display: block;
}

.alveole,
.alveoleaccueil {
    margin-top: 30px;
}

.alveoleaccueil {
    opacity: 0.5;

}

.alveole:hover,
.alveoleaccueil:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
}

.alveole,
.alveolepart {
    margin-top: 30px;
}

.alveolepart {
    opacity: 0.5;
}

.alveole:hover,
.alveolepart:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
}

.alveole,
.alveoleproduit {
    margin-top: 30px;
}

.alveoleproduit {
    opacity: 0.5;
}

.alveole:hover,
.alveoleproduit:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
}

.logoc {
    height: 200px;
    margin-top: 30px;
}

/*fond des pages*/
.fondpartenaire {
    background-color: #FFF7CD;
    height: 1700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fondhome {
    background-color: #FFF7CD;
    height: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondproduit {
    background-color: #FFF7CD;
    height: 1800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Banniere du bas*/
.bas {
    position: relative;
    width: 100%;
}

/*image de fond*/
.bannierebas {
    max-width: 230%;
    height: auto;
    display: block;
}

.bannierebas:hover {
    cursor: pointer;
}

.div2bas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div1bas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.textbas {
    font-family: 'Arial', sans-serif;
    font-size: 2.0em;
    line-height: 1.5em;
    text-decoration: none;
    color: black;
}

.imagebas {
    width: 70%;
}


/*Page Accueil (home)*/
/*Contenu de la page*/
.logohome {
    margin-top: 120px;
    width: 800px;
    height: auto;
}

.sloganhome {
    margin-bottom: 40px;
    width: 1400px;
}

.sectionhome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectiontitrehome {
    text-indent: 25px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #333333;
    margin: 0px;
    margin-top: 10px;
}

.bestproduit,
.Doc {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    gap: 30px;
    border: 0;
}


/*block des bestproduit*/
.biscuitbest,
.elixirbest,
.masquebest,
.tisanebest {
    padding: 10px;
    width: 320px;
    height: 235px;
    background-color: #e5ca8f;
    border: #333333 20px;
    font-family: 'Arial', sans-serif;
}

/*block des documents*/
.Gout,
.Vertus,
.Salon,
.Conservation {
    padding: 10px;
    width: 320px;
    height: 225px;
    background-color: #d8b467;
    border: #333333 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border-bottom: 0px;
}

/*texte de description */
.a {
    text-decoration: underline;
}

.a,
.b {
    margin: 5px;
}

/*images*/
.tisanehome {
    width: 35%;
}

.elixirhome {
    width: 50%;
}

.masquehome {
    width: 35%;
}

.biscuithome {
    width: 40%;
}

.tisanehome,
.masquehome,
.biscuithome,
.elixirhome,
.pots,
.medoc,
.salon,
.conservation {
    display: flex;
    margin: auto;
}

/*hover des blocks*/
.tisanebest:hover,
.masquebest:hover,
.elixirbest:hover,
.biscuitbest:hover,
.Gout:hover,
.Vertus:hover,
.Salon:hover,
.Conservation:hover {
    cursor: pointer;
}






/*Page Partenaires*/
/*block partenaire*/
.naturelleclass {
    position: relative;
    top: 20px;
}

.naturalifeclass {
    position: relative;
    top: 100px;
}

.naturebioclass {
    position: relative;
    top: 150px;
}

/*textes*/
h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: left;
    margin-top: 160px;
    margin-bottom: 5px;
    margin-left: 75px;
    font-size: 4rem;
}

h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 75px;
    font-size: 2rem;
}

h3 {
    font-family: 'Arial', sans-serif;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 75px;
}


/*images*/
.naturelle {
    position: static;
    z-index: 1;
    margin-top: -200px;
    margin-left: 900px;
    width: 12%;
}

.naturalife {
    position: static;
    z-index: 1;
    max-width: 300px;
    margin-left: 1000px;
    margin-right: 5vw;
    margin-top: -220px;
    width: 20%;
}

.naturebio {
    position: static;
    z-index: 1;
    max-width: 300px;
    margin-top: -200px;
    margin-left: 900px;
    width: 20%;
}

/*Page tous nos produits (produit)*/
/*Menu deroulant */
.mainmenubtn {
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: #d8b467;
    min-width: 170px;
}

.dropdown-child a {
    font-family: 'Arial', sans-serif;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    top: 230px;
    display: block;
    margin-left: 20px;
}

/*Contenu de la page*/
.logo {
    margin-top: 100px;
    width: 700px;
    height: auto;
}

.slogan {
    margin-bottom: 40px;
    width: 1100px;
}

/*titre*/
.sectiontitre {
    text-indent: 0px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    color: #333333;
    margin: 0px;
    margin-top: 10px;
}

/*gestion de chaque ligne de produits*/
.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*Ensemble des produits*/
.tousproduit {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    gap: 30px;
    border: 0;
}

/*block de chaque produits*/
.biscuitproduit,
.elixirproduit,
.masqueproduit,
.sirop,
.tisaneproduit,
.comp,
.miel {
    padding: 10px;
    width: 250px;
    height: 350px;
    background-color: white;
    border: #333333 20px;
    font-family: 'Arial', sans-serif;
}

/*textes des produits*/
.a {
    text-decoration: underline;
}

.a,
.b {
    margin: 5px;
    text-align: left;
}

#text {
    margin-top: 55px;
}

/*images des produits*/
.siropimage {
    width: 70%;
}

.elixir {
    width: 85%;
}

.masque {
    width: 68%;
}

.biscuit {
    width: 75%;
}

.tisaneimage {
    width: 70%;
}

.compimage {
    width: 70%;
}

.mielimage {
    width: 90%;
}

.siropimage,
.compimage,
.masque,
.tisaneimage,
.biscuit,
.mielimage,
.elixir {
    display: flex;
    margin: auto;
}

.sirop:hover,
.compimage:hover,
.mielimage:hover,
.masqueproduit:hover,
.elixirproduit:hover,
.biscuitproduit:hover,
.tisaneproduit:hover {
    cursor: pointer;
}