body {
    margin: 0px;
    padding: 0%;
}
.barre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index : 1000;
}

.top {
    display: flex;
    justify-content: center;
    /* Centre horizontalement toutes les images */
    align-items: center;
    /* Centre verticalement les images */
    background-color: #FFB100 ;
    height: 150px;
    width: 100%;
    justify-content: space-around;
    /* Espace entre les images */ 
    
}




.goutte {
    position: absolute;
    /*chevauchement*/
    top: -20px;
    width: 1400px;

}

.imageretour {
    height: 100px;
    width: 100px;
    height: auto;
    display: block;
}

.alveole {
    margin-top: 30px;
}

.alveole:hover {
    cursor: pointer;
    opacity: 0.5;
    /* opacité  */
    transition: 0.3s ease;
}

.logoc {
    height: 200px;
    margin-top: 30px;
}

.fond {
    background-color: #FFF7CD;
    height: 1700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectiontitre {
    text-indent: 25px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #333333;
    margin: 0px;
    margin-top: 10px;
}



.bas {
    
    position: relative;
    width: 100%;
}

.bannierebas {
    max-width: 200%; 
    height: auto;
    display: block; 
}


.div1bas {
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.div2bas {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.textbas {
    font-family: 'Arial', sans-serif;
    font-size: 2.0em;
    line-height: 1.5em;
    text-decoration: none;
    color: black;
}

.imagebas{
    width: 80%;
}