body {
    margin: 0px;
    padding: 0%;
}

/*Ensemble des elements de la barre de navigation */
.barre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFB100;
    height: 150px;
    width: 100%;
}

.goutte {
    position: absolute;
    top: -20px;
    width: 1400px;
}

.imageretour {
    height: 100px;
    width: 100px;
    height: auto;
    display: block;
}

.alveole {
    margin-top: 30px;
}

.alveole:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
}

.logoc {
    height: 200px;
    margin-top: 30px;
}


/*Contenu de la page*/
.fond {
    background-color: #FFF7CD;
    height: 1700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Banniere du bas*/
.bas {
    position: relative;
    width: 100%;
}

.bannierebas {
    max-width: 200%;
    height: auto;
    display: block;
}

.div2bas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div1bas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}


.textbas {
    font-family: 'Arial', sans-serif;
    font-size: 2.0em;
    line-height: 1.5em;
    text-decoration: none;
    color: black;
}

.imagebas {
    width: 80%;
}