body {
    margin: 0px;
    padding: 0%;
}

/*Ensemble des elements de la barre de navigation */
.barre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFB100;
    height: 150px;
    width: 100%;
}

.goutte {
    position: absolute;
    top: -20px;
    width: 1400px;
}

.imageretour {
    height: 100px;
    width: 100px;
    height: auto;
    display: block;
}

.alveole,
.alveoleaccueil {
    margin-top: 30px;
}

.alveoleaccueil {
    opacity: 0.5;

}

.alveole:hover,
.alveoleaccueil:hover {
    cursor: pointer;
    opacity: 0.5;

    transition: 0.3s ease;
}

.logoc {
    height: 200px;
    margin-top: 30px;
}

/*Contenu de la page*/
.fond {
    background-color: #FFF7CD;
    height: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 120px;
    width: 800px;
    height: auto;
}

.slogan {
    margin-bottom: 40px;
    width: 1400px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectiontitre {
    text-indent: 25px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #333333;
    margin: 0px;
    margin-top: 10px;
}

.bestproduit,
.Doc {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    gap: 30px;
    border: 0;
}


/*block des bestproduit*/
.biscuitbest,
.elixirbest,
.masquebest,
.tisanebest {
    padding: 10px;
    width: 320px;
    height: 235px;
    background-color: #e5ca8f;
    border: #333333 20px;
    font-family: 'Arial', sans-serif;
}

/*block des documents*/
.Gout,
.Vertus,
.Salon,
.Conservation {
    padding: 10px;
    width: 320px;
    height: 225px;
    background-color: #d8b467;
    border: #333333 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border-bottom: 0px;
}

/*texte de description */
.a {
    text-decoration: underline;
}

.a,
.b {
    margin: 5px;
}

/*images*/
.tisane {
    width: 35%;
}

.elixir {
    width: 50%;
}

.masque {
    width: 35%;
}

.biscuit {
    width: 40%;
}

.tisane,
.masque,
.biscuit,
.elixir,
.pots,
.medoc,
.salon,
.conservation {
    display: flex;
    margin: auto;
}

/*hover des blocks*/
.tisanebest:hover,
.masquebest:hover,
.elixirbest:hover,
.biscuitbest:hover,
.Gout:hover,
.Vertus:hover,
.Salon:hover,
.Conservation:hover {
    cursor: pointer;
}


/*Banniere du bas*/
.bas {
    position: relative;
    width: 100%;
}

/*image de fond*/
.bannierebas {
    max-width: 230%;
    height: auto;
    display: block;
}

.bannierebas:hover {
    cursor: pointer;
}

.div2bas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div1bas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.textbas {
    font-family: 'Arial', sans-serif;
    font-size: 2.0em;
    line-height: 1.5em;
    text-decoration: none;
    color: black;
}

.imagebas {
    width: 70%;
}