body {
    margin: 0px;
    padding: 0%;
}
.barre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index : 1000;
}

.top {
    display: flex;
    justify-content: center;
    /* Centre horizontalement toutes les images */
    align-items: center;
    /* Centre verticalement les images */
    background-color: #FFB100 ;
    height: 150px;
    width: 100%;
    justify-content: space-around;
    /* Espace entre les images */ 
    
}

.goutte {
    position: absolute;
    /*chevauchement*/
    top: -20px;
    width: 1400px;
}

.imageretour {
    height: 100px;
    width: 100px;
    height: auto;
    display: block;
}

.alveole, .alveoleaccueil {
    margin-top: 30px;
}
.alveoleaccueil{ /*new*/
   opacity: 0.5;
    /* opacité  */ 
}

.alveole:hover, .alveoleaccueil:hover {
    cursor: pointer;
    opacity: 0.5;
    /* opacité  */
    transition: 0.3s ease;
}

.logoc {
    height: 200px;
    margin-top: 30px;
}

.fond {
    background-color: #FFF7CD;
    height: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 120px;
    width: 800px;
    /* largeur maximale */
    height: auto;
    /* garde les proportions */
}

.slogan {
    margin-bottom: 40px;
    width: 1400px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectiontitre {
    text-indent: 25px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #333333;
    margin: 0px;
    margin-top: 10px;
}

.bestproduit {
    display: flex;
    /* Met les images sur la même ligne */

    justify-content: center;
    /* Centre horizontalement toutes les images */
    margin: 20px;
    align-items: center;
    /* Centre verticalement les images */
    gap: 30px;
    /* Espace entre les images */
    border: 0;
}

.Doc {
    display: flex;
    /* Met les images sur la même ligne */

    justify-content: center;
    /* Centre horizontalement toutes les images */
    margin: 20px;
    align-items: center;
    /* Centre verticalement les images */
    gap: 30px;
    /* Espace entre les images */
    border: 0;

}

.biscuitbest,
.elixirbest,
.masquebest,
.tisanebest {
    padding: 10px;
    width: 320px;
    height: 235px;
    background-color: #e5ca8f;
    border: #333333 20px;
    font-family: 'Arial', sans-serif;

}

.Gout,
.Vertus,
.Salon,
.Conservation {
    padding: 10px;
    width: 320px;
    height: 225px;
    background-color: #d8b467;
    border: #333333 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border-bottom: 0px;

}

.a {
    text-decoration: underline;
}

.a,
.b {
    margin: 5px;
}


.tisane {
    width: 35%;
}

.elixir {
    width: 50%;
}

.masque {
    width: 35%;
}

.biscuit {
    width: 40%;
}

.tisane,
.masque,
.biscuit,
.elixir {
    /*Centrer image et texte*/
    display: flex;
    margin: auto;
}

.pots,
.medoc,
.salon,
.conservation {
    /*Centrer image et texte*/
    display: flex;
    margin: auto;
}

.tisanebest:hover,
.masquebest:hover,
.elixirbest:hover,
.biscuitbest:hover {
    cursor: pointer;
}

.bannierebas:hover {
    cursor: pointer;
}


.Gout:hover,
.Vertus:hover,
.Salon:hover,
.Conservation:hover {
    cursor: pointer;
}

.bas {
    position: relative;
    width: 100%;
}

.bannierebas {
    max-width: 100%; 
    height: auto;
    display: block;
}


.div1bas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.div2bas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.textbas {
    font-family: 'Arial', sans-serif;
    font-size: 2.0em;
    line-height: 1.5em;
    text-decoration: none;
    color: black;
}

.imagebas {
    width: 80%;
}